@model MDB.Models.User

@{
    ViewBag.Title = "EmailChangedAlert";
}

<h2>Votre adresse courriel a été modifiée avec succès</h2>
<hr />

<p>Bonjour @Model.GetFullName(true).</p>
<p>Votre adresse courriel a été modifiée avec succès.</p>
<p>Veuillez confirmer ce changement à l'aide du courriel de vérification envoyé à la nouvelle adresse.</p>
<p>Merci et bonnne journée.</p>

<hr />

