@model MDB.Models.User

@{
    ViewBag.Title = "SubscribeDone";
}

<h2>Inscription réussie</h2>
<hr />

<p>Bonjour @Model.GetFullName(true).</p>
<p>Votre inscription a été enregistrée.</p>
<p>Vous allez recevoir un courriel qui contiendra le lien vers la confirmation de votre adresse courriel.</p>
<p>Merci et bonnne journée.</p>

<hr />


