@{
    ViewBag.Title = "À propos";
}
<div class="mainDetails">
    <h3>À propos</h3>
    <h4>Répertoire de films et d'acteurs</h4>

    <p>Auteur: Nicolas Chourot</p>
    <p><a href="mailto:Nicolas.Chourot@clg.qc.ca">Nicolas.Chourot@clg.qc.ca</a></p>
<pre>
    Département d'informatique
    Collège Lionel-Groulx
    Dans le cadre du cours 420-KBD-LG
    Développement d'applications Web II
</pre>
    <hr />


    <div style="display:grid; grid-template-columns: 60px auto ; background-color:black; align-items:center; color:white; border-radius:6px; padding:4px">
        <img src="/favicon.ico" style="height: 36px; margin-top: 8px; margin-left:5px;" title="Liste des films" />
        <h4>Accès à la liste des films</h4>
        <img src="/actors_logo.png" style="height: 36px; margin-top: 8px; margin-left: 5px;" title="Liste des acteurs" />
        <h4>Accès à la liste des acteurs</h4>
        <img src="/Distributors_Logo.png" style="height: 36px; margin-top: 8px; margin-left: 5px;" title="Liste des distributeurs" />
        <h4>Accès à la liste des distributeurs</h4>
        <img src="/info-icon.png" style="height: 36px; margin-top: 8px; margin-left: 5px;" title="Liste des distributeurs" />
        <h4>Accès cette page d'informations</h4>
    </div>
</div>